<div *ngIf="cartItems.length > 0; else emptyCart" class="cart-container">
    <div *ngFor="let item of cartItems" class="cart-item">
        <img [src]="item.product.imageUrl" alt="{{ item.product.name }}" class="cart-item-image">
        <p class="cart-item-details">{{ item.product.name }} - {{ item.product.price }} zł, Qty: {{ item.quantity }}</p>
        <button mat-button color="warn" (click)="removeItem(item.product.id)" class="remove-button">Usuń</button>
    </div>
    <div class="cart-actions">
        <button mat-raised-button color="warn" (click)="clearCart()" class="cart-action-button">Wyczyść koszyk</button>
        <button mat-raised-button color="primary" (click)="placeOrder()" class="cart-action-button">Złóż
            zamówienie</button>
    </div>
</div>
<ng-template #emptyCart>
    <p class="empty-cart-message">Twój koszyk jest pusty.</p>
</ng-template>