<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="email">Email</label>
        <input type="email" formControlName="email">
        <div *ngIf="loginForm.controls['email'].errors && submitted">
            <p *ngIf="loginForm.controls['email'].errors['required']">Email is required.</p>
            <p *ngIf="loginForm.controls['email'].errors['email']">Enter a valid email.</p>
        </div>
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" formControlName="password">
        <div *ngIf="loginForm.controls['password'].errors && submitted">
            <p *ngIf="loginForm.controls['password'].errors['required']">Password is required.</p>
        </div>
    </div>

    <button type="submit">Login</button>

    <button type="button" class="link-button" routerLink="/registration">Rejestracja</button>
</form>