<div class="orders-container">
    <h1 class="orders-title">Twoje zamówienia</h1>
    <div class="sort-buttons">
        <button mat-raised-button color="primary" (click)="sortOrders('asc')">Sortuj po dacie rosnąco</button>
        <button mat-raised-button color="primary" (click)="sortOrders('desc')">Sortuj po dacie malejąco</button>
    </div>
    <div *ngIf="orders.length > 0; else noOrders">
        <mat-card *ngFor="let order of orders" class="order-card">
            <h2 class="order-title">Zamówienie {{ order.orderId }} z dnia {{ order.date }}</h2>
            <ul class="order-products">
                <li *ngFor="let product of order.products" class="product-item">
                    {{ product.name }} - {{ product.quantity }} sztuk za {{ product.price }} zł/szt
                </li>
            </ul>
        </mat-card>
    </div>
    <ng-template #noOrders>
        <p class="no-orders-message">Brak zamówień.</p>
    </ng-template>
</div>