<div class="product-manage">
    <h2>Dodaj nowy produkt</h2>
    <form (submit)="addProduct()">
        <label>
            Nazwa:
            <input type="text" [(ngModel)]="newProduct.name" name="name">
        </label>
        <label>
            Opis:
            <input type="text" [(ngModel)]="newProduct.description" name="description">
        </label>
        <label>
            Cena:
            <input type="number" [(ngModel)]="newProduct.price" name="price">
        </label>
        <label>
            Ilość:
            <input type="number" [(ngModel)]="newProduct.quantity" name="price">
        </label>

        <app-image-manage (base64Event)="onImageLoaded($event)"></app-image-manage>

        <button type="submit">Dodaj produkt</button>
    </form>
</div>