<div *ngIf="product" class="product-container">
    <a [routerLink]="['/products']" class="back-button"><i class="fa fa-arrow-left"></i> Powrót do listy</a>
    <div class="product-details">
        <input type="text" [(ngModel)]="product.name" class="input-field" placeholder="Nazwa produktu"
            [readonly]="!isAdmin">
        <img [src]="product.imageUrl" alt="{{ product.name }}" class="product-image">
        <textarea [(ngModel)]="product.description" class="input-field" placeholder="Opis produktu"
            [readonly]="!isAdmin"></textarea>
        <input type="number" [(ngModel)]="product.price" class="input-field" placeholder="Cena" [readonly]="!isAdmin">
        <input type="number" [(ngModel)]="product.quantity" class="input-field" placeholder="Ilość"
            [readonly]="!isAdmin">
        <button *ngIf="isAdmin" mat-raised-button color="primary" (click)="saveProduct()">Zapisz zmiany</button>
    </div>
    <div class="purchase-section">
        <input type="number" [(ngModel)]="selectedQuantity" min="1" [max]="product.quantity" value="1"
            class="input-field">
        <button mat-raised-button (click)="addToCart()" class="add-button">Dodaj do koszyka</button>
    </div>
</div>