.product-view {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  width: 300px;
}

.product-view img {
  max-width: 100%;
  height: auto;
}

.price {
  font-weight: bold;
}

.product-view a {
  display: block; /* Sprawia, że link zajmuje całą dostępną szerokość dla łatwiejszego kliknięcia */
  color: black;
  text-decoration: none;
  margin-bottom: 10px;
}

.product-view button {
  cursor: pointer;
  width: 100px;
  padding: 5px 10px;
  color: white;
  border: none;
  border-radius: 5px;
}

.add-button {
  background-color: #1c89c9;
  margin-left: 10px;
}

.add-button:hover {
  background-color: darkblue;
}

.delete-button {
  background-color: #f44336;
  margin-top: 10px;
}

.delete-button:hover {
  background-color: darkred;
}
