/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-dialog-container {
  background-color: #007bff; /* Niebieski kolor tła */
  color: #ffffff; /* Biały kolor tekstu */
  border-radius: 8px; /* Zaokrąglone rogi */
}

.mat-dialog-actions button {
  color: #ffffff; /* Biały kolor tekstu */
  background-color: #0056b3; /* Ciemniejszy niebieski dla przycisków */
  margin: 5px;
}
